.players-div {
    display: grid;
    grid-template-areas: 
        "h h h"
        "s s s"
        "s s s";
}

.items {
    display: grid;
    grid-area: s;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    column-gap: 2em;
    row-gap: 2em;
    text-align: center;
}

.players-div li {
    list-style: none;
    border: 1px solid black;
}

