.Edit-player {
    text-align: center;
    height: 83vh;
    background: linear-gradient(to bottom right, #A955FC, #DDBBF7);
    
}
.Edit-player section {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.796),
        rgba(255, 255, 255, 0.488)
    );
    border-radius: 4rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

input[type="text"] {
    margin: 0;
    width: 400px;
    height: 40px;
    padding: 5px;
}

input[type="number"] {
    margin: 0;
    width: 400px;
    height: 40px;
    padding: 5px;
}

input[type="submit"] {
    margin: 0;
    width: 150px;
    /* padding: 10px; */
}