* {
    margin: 0;
    padding: 0;
}
.cart-article {
    width: 60%;
    height: 90vh;
    margin: auto;
}

.cart img {
    width: 170px;
    height: 170px;
}

.img {
    display: flex;
    width:300px;
    /* height: 300px; */
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid aquamarine;
    padding-bottom: 5px;
  }

  .img h5 {
    font-size: 20px;
    margin-left: 10px;
  }
  .btn1 {
    padding: 3px 8px;
    margin-left: 5px;
    font-weight: bold;
  }
  .btn2 {
    padding: 3px 8px;
    margin-left: 5px;
    font-weight: bold;
  }
  .btn3 {
    padding: 3px 8px;
    margin-left: 5px;
    font-weight: bold;
  }
  .span1 {
    background-color: aquamarine;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .delete {
    font-size: 1rem;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  .checkout {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  .check1 {
    margin-right: 15px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(3, 145, 3);
    font-size: 18px;
    color: white;
  }
  .check2 {
    margin-right: 15px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: black;
    font-size: 18px;
    color: white;
  }
  .check3-div {
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .check3 {
    padding: 15px;
    border-radius: 8px;
    color: aliceblue;
    background: gray;
  }

  .cart-total {
    display: flex;
    justify-content: space-between;
  }
  .cart-total span:nth-child(1) {
    color: purple;
    font-size: 2rem;
  }
  .cart-total span:nth-child(2) {
    color: green;
    font-size: 2rem;
  }
