/*  DROPDOWN STYLING */
.menu {
    background: red;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .menu li {
    background: #9E37EC;
    cursor: pointer;
  }
  
  .menu li:hover {
    background: #C595E9;
  }
  
  .clicked {
    display: none;
  }
  
  .store-link {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  

  /* Main Style */
  .products {
    display: grid;
    grid-template-areas: 
        "h h h"
        "s s s"
        "s s s";
}

.items {
    display: grid;
    grid-area: s;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    column-gap: 2em;
    row-gap: 2em;
    text-align: center;
}


.products li {
    list-style: none;
    /* border: 1px solid black; */
}
.products a {
  text-decoration: none;
}
.store img {
  position: relative;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  border-radius: 10px; 
  object-fit:cover;
  overflow: hidden;
}
.store button {
  padding: 5px;
  
}
@media only screen and (min-width: 1024px) {
  .items li {
    display: flex;
  }
}

/* @media screen and (max-width: 960px) {
  button {
    
  }
} */
