/*  DROPDOWN STYLING */
.menu {
    background: red;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .menu li {
    background: #9E37EC;
    cursor: pointer;
  }
  
  .menu li:hover {
    background: #C595E9;
  }
  
  .clicked {
    display: none;
  }
  
  .store-link {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  

  /* Main Style */
  .products {
    display: grid;
    grid-template-areas: 
        "h h h"
        "s s s"
        "s s s";
}

.items {
    display: grid;
    grid-area: s;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    column-gap: 2em;
    row-gap: 2em;
    text-align: center;
}


.products li {
    list-style: none;
    border: 1px solid black;
}
.products a {
  text-decoration: none;
}


@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
